@charset "utf-8";

/* 
	Autor: Matheus Franco
	Criação: 04/2016 
	Arquivo: Estilo.css
*/

body {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	font-weight: normal
}

header {
	padding: 10px 0;
	margin-bottom: 20px;
	height: 100px;
	box-shadow: 0px 2px 2px #ccc
}

.menuTopo{
	width:500px;
	display: inline-block !important;
	float: right;
	margin-top: 25px;
}

.menuTopo .ui-menuitem-link{
	margin-right: 20px;
}

.menuTopo input[type="text"]{
	margin-left: 50px;
}

#cabecalho{
	width: 80%;
	margin: auto;
}
#conteudo {
	width: 80%;
	margin: auto;
}

footer {
	border-top: 1px solid #ccc;
	padding: 5px 8px;
	margin-top: 20px;
	margin-bottom: 10px
}

h1 {
	font-size: 24px;
	font-weight: 500;
	padding: 0px;
	margin: 0px;
	margin-bottom: 10px
}
