@charset "utf-8";
/* 
	Autor: Matheus Franco
	Criação: 04/2016 
	Arquivo: Cores.css
*/

/* Branco */
header,
.ui-inputtext, 
.ui-password,
.ui-state-focus,
footer,
button,
.ui-menuitem-text,
.ui-button-text,
.ui-inputfield,
#textoArquivo{
	color: #FFF !important;
} 
/*--*/

/* Preto */
header,
.barraBotao button {
	background-color: #000;
}
.ativo,
.ui-menubar,
footer{
	background: #000 !important;
}
/*--*/

/* Roxo Claro */
.ui-inputtext, 
.ui-password,
.ui-menubar,
.ui-inputfield{
	border-color: #763f83 !important;
}
.ui-state-focus,
.ui-inputfield:focus{
	background-color: #763f83 !important;
}
button:hover,
.quadroArquivo:hover button{
	background: #7f428f !important;
}
.ui-menuitem-link:hover .ui-menuitem-text{
	color: #7f428f !important;
}
/*--*/

/* Roxo Escuro */
.ui-inputtext, 
.ui-password,
.ui-inputfield{
	background-color: #482a46 !important; 
}
.ui-state-focus{
	border-color: #482a46 !important;
}
button,
button:hover,
.quadroArquivo:hover button{
	border-color: #482a46;
}
button{
	background: #482a46 !important;
}
/*--*/

/* Cinza */
.passivo{
	background: #333 !important;
}
/*--*/

/* Vermelho */
.ui-outputlabel-rfi,
.obr span{
	color: #FF0000;
}
.ui-inputfield.ui-state-error{
	border: #FF0000 1px solid !important;
} 
/*--*/

/* Transparente */
.ui-state-error{
	background-color: transparent;
}
/*--*/